@use "../../styles/variables" as t;
@use "../../styles/mixins/mixins" as mixins;

.button {
  padding: t.$space-sm t.$space-md;
  font-size: t.$font-sm;
  background-color: t.$color-primary;
  border-radius: t.$radius-sm;

  @include mixins.respond-up(md) {
    font-size: t.$font-md;
    padding: t.$space-md t.$space-lg;
  }
}
