@use "../../styles/variables" as t;
@use "../../styles/mixins/mixins" as mixins;

/* ==========================================================================
   Base Container
   ========================================================================== */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: t.$space-xs;
  margin: t.$space-sm 0;
}

.fullWidth {
  width: 100%;
}

.label {
  font-size: t.$font-size-label;
  font-weight: t.$font-weight-emphasis;
  color: t.$color-text-primary;
  line-height: t.$line-height-compact;
}

.input {
  background-color: tomato;
  height: 300px;
  width: 400px;
}
